body {
    margin: 0;
}
.thecontainer {
    background-color: azure;
    background-image: url("./src/bored-ape-yacht-club-nfts-sold-for-24-4-million-at-auction-one-of-the-biggest-nft-sales-this-year.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    height: 650px;

}
.con1{
    border: 2px solid rgb(255, 255, 255);
    border-radius:0 20px;
    /* position:fixed;
    top:20px; */
    margin-top:  60px;
    margin-left: 300px;
    padding: 20px 0px 0px 20px;
    height: 80%;
    max-width: 45%;
    min-width: 45%;
    background-color: rgb(255, 255, 255);
    
}
.con2 {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-top:  60px;
    margin-right: 300px;
    padding: 20px 0px 0px 20px;
    height: 80%;
    max-width: 45%;
    min-width: 45%;
    background-color: white;
}
.signs {
    display: grid;
    grid-template-columns: auto auto;
    margin: 60px;
}
.headingcon1 h2 {
    background-image: url("./src/images2.jfif");
    /* background-position: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 120%;
    padding-top: 0px;
    /* padding-right: 20px; */
    text-align: center;
    margin:auto;
    margin-left: 0px;
    font-weight: 1900px;
    background-color: transparent;
}
.signIn {
    font-weight: bold;
}
.signOut {
    font-weight: bold;
}
/* .con2 {
    
    
} */
/* .mainform {
    /* background-image: url("./images33.jfif");
    background-repeat: no-repeat;
    background-size: auto; */
.mainform h2 {
/* text-align: center; */
padding: 0px 0px 0px 72px;
margin-top: 0%;
}
input {
    background-color:ghostwhite;
    font-family: "Tahoma";
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px;
    margin-left: 19px;
    border-color: ghostwhite;
}
button {
    background-color: rgb(93, 90, 241);
    display: block;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    border: rgb(93, 90, 241);
    /* padding-right: 62px; */
}
.forgetpwd {
    text-align: center;
    font-weight: bold;
}
.forgetpwd a {
    text-decoration: none;
}